<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Hello, world!</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet" >
  </head>
  <body data-ng-app="app" data-ng-controller="Main">
    <div class="messages ng-cloak" data-ng-include="'modules/smartui/views/messages.html'" data-ng-controller="MessagesCtrl"></div>
    <div class="login ng-cloak" data-ng-include="'modules/smartui/views/login.html'" data-ng-show="nouser"></div>
    <div class="managed-objects ng-cloak" ng-show="managedObjects">
      <h3>List of Managed Objects</h3>
      <table class="table table-condensed">
        <tr>
          <th>Type</th>
          <th>Id</th>
          <th>Name</th>
        </tr>
        <tr ng-repeat="mo in managedObjects | orderBy:'[type,id,name]'">
          <td>{{mo.type}}</td>
          <td>{{mo.id}}</td>
          <td>{{mo.name}}</td>
        </tr>
      </table>
    </div>
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.js"></script>
    <script src="sdk.js"></script>

    <script>
        angular.module('c8y.config', []).constant('configApp', { baseUrl: 'https://developer.cumulocity.com/'});
        angular.module('app', ['c8y.core', 'c8y.parts.tpls', 'c8y.smartui']);

        angular.module('app')
          .controller('Main', ['$scope', 'c8yManagedObject',
          function ($scope, c8yManagedObject) {
            $scope.$on('login', function (e) {
              c8yManagedObject.list().then(function (res) {
                $scope.managedObjects = res.data.managedObjects;
              });
            });
          }]);
		  
		jQuery(document).ready(function () {
		  if (document.location.search != '?showTenant') {
			document.location.search = '?showTenant';
		  }
		});
    </script>
  </body>
</html>
